@font-face {
    font-family: 'Pobeda';
    src: url('../fonts/Pobeda-Regular.woff2') format('woff2'),
        url('../fonts/Pobeda-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	background: linear-gradient(135deg, rgba(206,220,231,1) 44%,rgba(206,220,231,1) 55%,rgba(89,106,114,1) 100%);
}
.header {
	width: 1000px;
	margin: 10px auto;
	background-color: rgb(102, 20, 20);
	border-radius: 5px 50px 5px 50px;
}
.header_list {
	text-align: center;
	font-size: 23px;
	font-family: 'Pobeda';
	letter-spacing: 4px;
	text-transform: uppercase;
	
}
.header_list > li {
	position: relative;
	display: inline-block;
	margin: 0 50px 0 0 ;
}
.header_list > li:hover .header_sub_list {
	display: block;
}
.header_list > li:hover .header_link {
	color: blue;
}
.header_list > li:last-child {
	margin-right: 0;
}
.header_list > li:last-child .header_sub_list {
	right: 0;
}
.header_link {
	display: inline-block;
	padding: 20px 0;
	color: rgb(241, 241, 241);
}
.header_sub_list {
	display: none;
	top: 100%;
	position: absolute;
	background-color: rgb(110, 108, 108);
	padding: 10px;
	box-shadow: 3px 0px 7px 4px rgb(59, 59, 59);
	border-radius: 5px;
}
.header_sub_list > li {
	min-width: 140px;
	margin: 0 0 15px 0;
}
.header_sub_list > li:hover .header_sub_list_3{
	display: block;
}

.header_sub_list > li:hover .header_sub_list_5{
	display: block;
}
.header_sub_list > li:hover .header_sub_list_6{
	display: block;
}
.header_sub_list li:last-child {
	margin-bottom: 0;
}
.header_sub_link {
	color: rgb(238, 238, 238);
}
.header_sub_list_3 {
	position: absolute;
	top: 83px;
	left: 160px;
	display: none;
	padding: 10px;
	min-width: 180px;
	background-color: rgb(102, 101, 101);
	box-shadow: inset 0px 0px 2px 5px rgb(59, 59, 59);
	border-radius: 5px;
}
.header_sub_list_3 li {
	padding: 0px;
}
.header_sub_link_3 {
	display: inline-block;
	color: rgb(240, 240, 240);
	margin: 0 0 20px 0;
}
.header_sub_list_5 {
	display: none;
	position: absolute;
	top: 0px;
	left: 160px;
	min-width: 150px;
	background-color: rgb(102, 101, 101);
	box-shadow: inset 0px 0px 2px 5px rgb(59, 59, 59);
	border-radius: 5px;
}
.header_sub_list_5 li {
	padding: 10px;
}
.header_sub_link_5 {
	color: aliceblue;
}
.header_sub_list li:hover {
	text-decoration: underline;
}
.header_sub_list_6 {
	position: absolute;
	top: 195px;
	right: 160px;
	display: none;
	padding: 10px;
	min-width: 180px;
	background-color: rgb(102, 101, 101);
	box-shadow: inset 0px 0px 2px 5px rgb(59, 59, 59);
	border-radius: 5px;
}
.header_sub_list_6 li {
	padding: 0px;
}
.header_sub_link_6 {
	display: inline-block;
	color: rgb(240, 240, 240);
	margin: 0 0 20px 0;
}